<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :male %><br />
    <%= f.check_box :male %>
  </p>
  <p>
    <%= f.label :contacts %><br />
    <%= f.text_field :contacts %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :contact_permission %><br />
    <%= f.check_box :contact_permission %>
  </p>
  <p>
    <%= f.label :weekly_hours %><br />
    <%= f.text_field :weekly_hours %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <% %w"Monday Tuesday Wednesday Thursday Friday".each_with_index do |day_name, day_num| %>
      <span>
        <h3><%= day_name %></h3>
        <% (9..20).each do |hour| %>
          <%= f.check_box :matches %>
        <% end %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
