<p>
  <b>Id:</b>
  <%=h @person.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Male:</b>
  <%=h @person.male %>
</p>

<p>
  <b>Contact:</b>
  <%=h @person.contacts %>
</p>

<p>
  <b>Address:</b>
  <%=h @person.address %>
</p>

<p>
  <b>Contact permission:</b>
  <%=h @person.contact_permission %>
</p>

<p>
  <b>Availabilities:</b>
  <%=h @person.availabilities %>
    <% %w"Monday Tuesday Wednesday Thursday Friday".each_with_index do |day_name, day_num| %>
      <span>
        <h3><%= day_name %></h3>
        <% (9..20).each do |hour| %>
          <%= check_box_tag "availabilities[" + (day_num*24 + hour).to_s + "]", true, @person.availabilities.find_by_timeslot_id(day_num*24 + hour)%>
        <% end %>
      </span>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Update' %>

</p>

<p>
  <b>Weekly hours:</b>
  <%=h @person.weekly_hours %>
</p>

<p>
  <b>Comments:</b>
  <%=h @person.comments %>
</p>

<p>
  <b>Type:</b>
  <%=h @person.type %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
