<h1>Editing availability</h1>

<% form_for(@availability) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </p>
  <p>
    <%= f.label :timeslot %><br />
    <%= f.text_field :timeslot %>
  </p>
  <p>
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @availability %> |
<%= link_to 'Back', availabilities_path %>